@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                
                <h2>@ViewBag.Message</h2>

                <p>The points listed below illustrate the features to be implemented in the project. For the success of the test, develop at least the first point.</p>

            </hgroup>

        </div>
    </section>
}
<ol class="round">

    <h2>The instructions for completing the test are stored in the README file present in the solution.</h2>

</ol>
